.messagebar{
    text-align: center;
    height:40px;
    background-color: #f2f2f1;
    align-items: center;
    justify-content: center;
    display: flex;
    
    p{
        line-height: 1;
    }
}