body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "GT Pressura Mono Regular",
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
