.container{
    padding: 0 10%;
    .card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px 0 0 0;
        display: grid;
        grid-gap: 15px;
        .card{
    
            position: relative;
            img{
                width: 100%;
                height: auto;
            }
        }
    }    
}

h1{

    margin:15px !important;
    color:black !important;
    text-align: center;
}

