.rs-navbar{
    height: 120px;
    .rs-navbar-item{
        padding: 60px;
        overflow: unset;
    }
    .rs-ripple{
        background-color: rgba(0,0,0,0);
    }
    
}

.rs-navbar-brand{
    img{
        width: 100px;
        height: 100px;
    }
}

.rs-carousel{
    margin: 50px;
    
}